
  <% search_results.book_results.each do |book| %>
    <ul class = 'book-info'>
      <li class = 'title'><p>Title: <%= book.title %> </p></li>
      <li class = 'author'><p>Author: <%= book.author %></p></li>
    </ul>
  <% end %>

  <% search_results.book_review.each do |review| %>
  <ul class = 'review'>
    <li> Review: <%= review.summary %></li>
  </ul>
  <% end %>
